<nav class="navbar navbar-dark bg-primary">  
  <a class="navbar-brand">Weather Cities Forecast</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container-fluid bd-callout bd-callout-warning ">
  <div class="row">
    <div id="sidebar-container" class="pl-0 col-sm-3 sidebar-expanded d-none d-md-block">      
      <ul class="list-group">
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-left menu-collapsed">
          <small>FORESCAST</small>
        </li>        
        <a class="bg-primary list-group-item list-group-item-action flex-column align-items-start"
        routerLink="/">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-dashboard fa-fw mr-3"></span>
            <span class="menu-collapsed">Begin</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>      
        <a class="bg-primary list-group-item list-group-item-action flex-column align-items-start" routerLink="/bookmarks">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-user fa-fw mr-3"></span>
            <span class="menu-collapsed">Favorites</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>        
        <a class="bg-primary list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-tasks fa-fw mr-3"></span>
            <span class="menu-collapsed">About</span>
          </div>
        </a>       
      </ul>
    </div>

    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>